<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwl.arknight.mapper.CheckpointMapper">
    <select id="getAllCheckPointCount" resultType="java.lang.Integer">
        select count(*) from checkpoint;
    </select>

    <select id="getCheckPoint" resultType="com.lwl.arknight.entity.Checkpoint">
        select * from checkpoint where number=#{number};
    </select>

</mapper>
